:root {
	--primary-color: #96bb7c;
	--danger-color: #e74040;
	--success-color: #2dc071;
	--warning-color: #e77c40;
	--hover-color: #2a7cc7;
	--dark-background-color: #2d4059;
	--text-color: #252b42;
	--secondary-color: #ffab71;
	--secondary-color-2: #ff7171;
	--light-background-color: #ffffff;
	--light-gray-color: #fafafa;
	--muted-color: #bdbdbd;
	--light-text-color: #fafafa;
	--secondary-color: #f3cd03;
	--secondary-text-color: #737373;
	--disabled-element-color: #8ec2f2;

	--drop-shadow-card: 0px 13px 19px 0px #00000012;
	--drop-shadow-card-medium: 0px 4px 2px 0px #0000000a;

	--font-family: Montserrat;
}

/* Root styles for dark mode */
@media (prefers-color-scheme: dark) {
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */
/* rules for dark mode ends here */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	letter-spacing: 0.2px;
	font-size: 3.5vw;
}

.link {
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
}

.paragraph {
	font-size: 14px;
	line-height: 20px;
}

.h1 {
	font-weight: bold;
	line-height: 80px;
	font-size: 58px;
}
.h2 {
	line-height: 50px;
	font-size: 40px;
}
.h3 {
	font-size: 24px;
	line-height: 32px;
}
.h4 {
	font-size: 20px;
	line-height: 30px;
}
.h5 {
	font-size: 16px;
	line-height: 24px;
}
.h6 {
	font-size: 14px;
	line-height: 24px;
}

.small {
	line-height: 16px;
	font-size: 12px;
}

.btn-text {
	font-size: 14px;
	line-height: 22px;
}

@media screen and (max-width: 1140px) {
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
